<!DOCTYPE html>
<style media="screen">

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
    background-color: #D3DCE2;
    font-family: proxima nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #4C4C4C;
    width: auto;
  }

  header {
    width: 100%;
    height: 150px;
    background-color: #54748C;
  }

  header img {
    height: 150px;
    float: left;
  }

  .unit-header-image {
    height:150px;
    float: right;
  }

  header h2 {
    color: white;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 35px;
  }

  p {
    color: #f85323;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .sidenav {
    height: 100%;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4C4C4C;
    padding-top: 20px;
    margin-top: 150px;
  }

  .sidenav a {
    padding: 7px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #a0b4c0;
    display: block;
  }

  .sidenav a:hover {
    background-color: #f85323;
    color: white;
  }

  .unit-info-table {
    margin-left: 150px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 25px;
  }

  .expense-info-table-last {
    float: left;
    border-collapse: collapse;
    background-color: white;
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .expense-info-table-current {
    float: left;
    border-collapse: collapse;
    background-color: white;
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  td, th{
    padding: 15px;
  }

  .lease-unit-box {
    width: 30;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
  }

  .expense-reservation-box {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 60%;
  }

  .button {
    background-color: #f85323;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
  }

  footer {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #54748C;
    bottom: 0;
    position: fixed;
  }

  footer p {
    float: right;
    font-size: 10px;
    margin-right: 30px;
    margin-top: 20px;
  }

</style>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <header>
      <img src="https://www.itm.org.uk/imagedata/organisationlogo/300X300/2907%20.jpg?Type=BYENTITYID" alt="">
      <h2>Unit and Lease Information</h2>
      <div class="unit-header-image">
        <img src="https://www.nationalcorporatehousing.com/sites/default/files/styles/extra_large/public/slideshow/dsc_7906.jpg?itok=x4jZn7CT" alt="">
        <img src="https://www.nationalcorporatehousing.com/sites/default/files/styles/extra_large/public/slideshow/dsc_7950.jpg?itok=QO7Mq1Aa" alt="">
        <img src="https://www.nationalcorporatehousing.com/sites/default/files/styles/extra_large/public/slideshow/dsc_8013.jpg?itok=mragDsX-" alt="">
      </div>
    </header>

    <div class="sidenav">
      <ul>
        <li><a><%= link_to "Home", "/" %></a></li>
        <li><a><%= link_to "Leases", "/leases" %></a></li>
        <li><a href="#contact">Expenses</a></li>
        <li><a href="#about">Overage Tracker</a></li>
      </ul>
    </div>

    <p>NOTICE: This unit has had <%= rand(0..4)%> expense overage(s) in the past 6 months.</p>

    <div class="lease-unit-box">
      <table class="unit-info-table">
        <caption>Unit Information</caption>
        <tr>
          <th>Unit Id #:</th>
          <td><%= @lease.first.unit_id%></td>
        </tr>
        <tr>
          <th>Telephone:</th>
          <td>256-584-1958</td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>2132 Marcus Street #273</td>
        </tr>
        <tr>
          <th>City:</th>
          <td>Decatur</td>
        </tr>
        <tr>
          <th>State:</th>
          <td>Alabama</td>
        </tr>
        <tr>
          <th>Zip Code:</th>
          <td>35601</td>
        </tr>
        <tr>
          <th>Bedroom Type:</th>
          <td><%= @lease.first.bedrooms%></td>
        </tr>
        <tr>
          <th>Lease Start:</th>
          <td><%= @lease.first.lease_start != nil ?  @lease.first.lease_start :  @lease.first.lease_end - 365 %></td>
        </tr>
        <tr>
          <th>Lease End:</th>
          <td><%= @lease.first.lease_end != nil ?  @lease.first.lease_end :  @lease.first.lease_start.next_year(1) %></td>
        </tr>
      </table>

    </div>

    <div class="expense-reservation-box">
      <table class="expense-info-table-last">
        <caption>Expenses Last Month</caption>
        <tr>
          <th>Expense Amount</th>
          <th>Vendor</th>
          <th>Invoice Number</th>
          <th>Account Name</th>
        </tr>
        <% @last_month_expenses.each do |expense| %>
        <tr>
          <td><%= expense.net %></td>
          <td><%= expense.vendor_id %></td>
          <td><%= rand(1111..4999) %></td>
          <td><%= expense.account_name %></td>
        </tr>
        <% end %>
        <tr>
          <th>Expense Total: </th>
          <td><%= @last_month_expense_sum %></td>
        </tr>
        <tr>
          <th>Reservations: </th>
          <% @last_month_reservations. each do |reservation|%>
          <td><b><%=reservation %></b>: <button class="button">Bill For Overage</button></td>
          <% end %>
        </tr>
      </table>

      <table class="expense-info-table-current">
        <caption>Expenses Current Month</caption>
        <tr>
          <th>Expense Amount</th>
          <th>Vendor</th>
          <th>Invoice Number</th>
          <th>Account Name</th>
        </tr>
        <% @current_month_expenses.each do |expense| %>
        <tr>
          <td><%= expense.net %></td>
          <td><%= expense.vendor_id %></td>
          <td><%= rand(1111..4999) %></td>
          <td><%= expense.account_name %></td>
        </tr>
        <% end %>
        <tr>
          <th>Expense Total: </th>
          <td><%= @current_month_expense_sum %></td>
        </tr>
        <tr>
          <th>Reservations: </th>
          <% @current_month_reservations. each do |reservation|%>
            <td><b><%=reservation %></b>: <button class="button">Bill For Overage</button></td>
          <% end %>
        </tr>
      </table>



    </div>

    <footer>
      <p>This Page Brought To You By Nicholas and Kelly</p>
    </footer>


  </body>

</html>
